.search{
	padding-top: 0px;
	width: 100%;
	text-align: center;
	position: relative;
}

.Mainsearch{
	border: 2px solid rgb(215, 215, 215);
	display: inline-flex;
	background: rgb(246, 246, 246);
	border-radius: 30px;
	padding: 5px;
	width: 700px;
}
.searchBar{
	background: rgb(246, 246, 246);
	border: 0;
	outline: 0;
	overflow: visible;
}
.icon{
	background: rgb(246, 246, 246);
	border: 0;
	width: 40px;
	font-size: 20px;
	color: rgb(215, 215, 215);
  transition-property:color;
  transition-duration:0.5s;
}
.icon:hover{
	color: black;
}
